<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css" />

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript" src="/js/scripts.js"></script>
		<script type="text/javascript" src="/js/game.js"></script>

		<title>Scattergories Game</title>
	</head>

	<body>
		<header>
			<a href="/">
				<h2>Scattergories</h2>
			</a>
		</header>

		<section>
			<span id="game-letter"></span>
			<button id="roll-die-button">Roll The Die</button>
			<button id="timer-button">Start Timer</button>
		</section>

		<section class="blur-text" id="category-container">
			<% categoryList.forEach(function(category, index) {%>
			<div class="category-item">
				<label id="category-item-<%= index %>"><%= category %></label>
				<input disabled placeholder=" Type Here" spellcheck type="text" />
			</div>
			<% }); %>
		</section>

		<footer>
			<p><a href="http://www.marcopvazquez.com/" target="_blank">This website was created by Marco Pretell-Vázquez</a></p>
		</footer>
	</body>
</html>
