<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css" />

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript" src="/js/scripts.js"></script>

		<title>Scattergories Game</title>
	</head>

	<body>
		<header>
			<a href="/">
				<h2>Welcome to Scattergories</h2>
			</a>
		</header>

		<section id="game-setup-section">
			<div><img id="scattergories-logo" src="/images/scattergories-logo.png" alt="Logo"></div>
			<a href="/game/1">
				<button>Start Solo Game</button>
			</a>
		</section>

		<footer id="index-footer">
			<p><a href="http://www.marcopvazquez.com/" target="_blank">This website was created by Marco Pretell-Vázquez</a></p>
		</footer>
	</body>
</html>
