a {
	text-decoration: none;
}

body {
	background-image: url('../images/background.png');
	position: relative;
	text-align: center;
}

button {
	cursor: pointer;
    color: #000000;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: bold;
    padding: .8rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 1rem;
    background: #efb42b;
    background: -moz-linear-gradient(90deg, #efb42b 30%, #ffe121 70%);
    background: -webkit-linear-gradient(90deg, #efb42b 30%, #ffe121 70%);
    background: -o-linear-gradient(90deg, #efb42b 30%, #ffe121 70%);
    background: -ms-linear-gradient(90deg, #efb42b 30%, #ffe121 70%);
    background: linear-gradient(0deg, #efb42b 30%, #ffe121 70%);
}

button[disabled] {
    background: #eeeeee;
    color: darkgrey;
    cursor: initial;
}

footer {
	background: rgba(0,0,0,.15);
	padding: .2rem;
}

footer a {
	color: #FFFFFF;
}

header {
	background: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)), url('../images/background.png');
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	margin-bottom: 2rem;
	position: fixed;
    width: 100%;
    z-index: 1;
}

h2 {
	color: yellow;
	font-family: 'Cinzel', serif;
	font-size: 2rem;
	margin: 0;
	padding: 1rem;
}

.active-game-letter > #game-letter,
#game-score-container,
#game-timer-container,
#game-round {
	background: #ffffff;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 5rem;
}

.blur-text > .category-item > label {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,1);
}

.category-item {
	margin: 1rem .5rem;
}

.category-item > label {
    display: inline-block;
    text-align: right;
    width: 49%;
}

.category-item > input {
	width: 49%
}

#game-details-container-left {
    position: absolute;
    left: 4.5rem;
    top: 1.5rem;
}

#game-details-container-right {
	position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

#game-letter,
#game-round,
#game-score-container,
#game-timer-container {
	display: inline-block;
}

#game-message {
    display: none;
}

#game-message > hr {
    width: 50%;
}

#game-message.active {
    align-items: center;
    background: rgba(0,0,0,.6);
    color: yellow;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

#game-setup-section {
    padding-top: 5rem;
}

#game-setup-section > div > a > #scattergories-logo {
    left: auto;
    position: relative;
    top: auto;
    width: inherit;
}

#index-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#next-round-link {
    margin-top: 1rem;
}

#scattergories-logo {
    width: 4rem;
    left: .5rem;
    position: absolute;
	top: -3px;
}

#category-container {
	background-color: #FFFFFF;
	border: .3rem solid #000000;
    margin: .6rem auto;
	max-width: 40rem;
    position: relative;
}

#welcome-section {
	min-height: 30rem;
}
