a {
	text-decoration: none;
}

body {
	background-image: url('../images/background.png');
    font-family: serif;
	position: relative;
	text-align: center;
}

button {
    background: #efb42b;
    background: -moz-linear-gradient(90deg, #efb42b 30%, #ffe121 70%);
    background: -webkit-linear-gradient(90deg, #efb42b 30%, #ffe121 70%);
    background: -o-linear-gradient(90deg, #efb42b 30%, #ffe121 70%);
    background: -ms-linear-gradient(90deg, #efb42b 30%, #ffe121 70%);
    background: linear-gradient(0deg, #efb42b 30%, #ffe121 70%);
    border-radius: 1rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    color: #000000;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem;
}

button[disabled] {
    background: #EEEEEE;
    color: #A9A9A9;
    cursor: initial;
}

footer {
	background: rgba(0,0,0,.15);
    bottom: 0;
    padding: .2rem;
    position: fixed;
    width: 100%;
}

footer a {
	color: #FFFFFF;
}

header {
	background: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)), url('../images/background.png');
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	position: fixed;
    width: 100%;
    z-index: 1;
}

h2 {
	color: #FFE121;
	font-family: 'Cinzel', serif;
	font-size: 2rem;
	margin: 0;
	padding: 1rem;
}

/* Classes */

.blur-text > .category-item > label {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,1);
}

.category-item {
	margin: 1rem .5rem;
    display: flex;
}

.category-item > label {
    padding: 3px 1rem 0 0;
    text-align: right;
    width: 100%;
}

.category-input {
    border: 1px solid #F5F5F5;
    width: 100%;
}

.category-input-container {
    position: relative;
    width: 100%;
}

.category-input-message {
    display: none;
}

.category-input-container > .category-input-message.active {
    background: #ff0000;
    color: #FFFFFF;
    display: flex;
    font-size: .7rem;
    padding-left: 4px;
    position: absolute;
    width: 100%;
}

/* Page Ids */

#category-container {
    background-color: #FFFFFF;
    border: .3rem solid #000000;
    margin: .6rem auto;
    max-width: 40rem;
    position: relative;
}

#game-details-container-left {
    position: absolute;
    left: 4.5rem;
    top: 1.5rem;
}

#game-details-container-right {
	position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

#game-letter,
#game-round,
#game-score-container,
#game-timer-container {
    background: #ffffff;
    display: inline-block;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 5rem;
}

#game-letter {
    display: none;
}

#game-letter.active {
    display: inline-block;
}

#game-message {
    display: none;
}

#game-message > hr {
    width: 50%;
}

#game-message.active {
    align-items: center;
    background: rgba(0,0,0,.7);
    color: yellow;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#game-setup-section {
    padding-top: 5rem;
}

#game-setup-section > button {
    margin: 0 1rem;
}

#game-setup-section > div > a > #scattergories-logo {
    left: auto;
    position: relative;
    top: auto;
    width: inherit;
}

#next-round-link {
    margin-top: 1rem;
}

#scattergories-logo {
    width: 4rem;
    left: .5rem;
    position: absolute;
	top: -3px;
}

#welcome-section {
	min-height: 30rem;
}

/* Media Queries */

@media (max-width: 768px) {
    footer {
        position: relative;
    }

    .category-input {
        background-color: #f5f5f5;
        height: 2rem;
    }

    .category-input-container > .category-input-message.active {
        font-size: 1rem;
        padding-left: 8px;
        width: 99%;
    }

    .category-item {
        flex-direction: column;
    }

    .category-item > label {
        text-align: center;
        margin-bottom: 5px;
    }

    #game-details-container-left {
        left: 4.2rem;
        top: 2.5rem;
    }

    #game-details-container-right {
        right: .5rem;
        top: 2.5rem;
    }

    #game-letter {
        display: inline-block;
    }

    #game-letter:after {
        content: 'Letter: ?';
    }

    #game-letter.active:after {
        content: '';
    }

    #game-letter,
    #game-round,
    #game-score-container,
    #game-timer-container {
        padding: 1px;
    }

    #game-name {
        padding: .2rem 0 2rem 0;
    }
}
