body {
	text-align: center;
}

button {
	cursor: pointer;
}

.blur-text > .category-item > label {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,1);
}

.category-item > label {
    display: inline-block;
    text-align: right;
    width: 49%;
}

.category-item > input {
	width: 49%
}

#category-container {
	border: 3px solid black;
}
